html {
  background-image: url("/avl.png");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.thing {
  background-color: rgba(255, 255, 255, 0.5);
}
